<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="APK Easy Tool" Manufacturer="MHM" Version="1.62.0.0" UpgradeCode="7F0E8B38-8C3D-4F3A-9D65-6E5F6A4D7A11">
    <MajorUpgrade DowngradeErrorMessage="A newer version of APK Easy Tool is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="MainFeature" Title="APK Easy Tool" Level="1">
      <ComponentGroupRef Id="ApplicationFiles" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="APK Easy Tool" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ApplicationFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.SourceDir)\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
